//
// Custom overrides from a user.
//

blockquote {
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 9px;
    border-left-style: solid;
    padding: 1em 2em 1em 1.2em;
    margin-bottom: 1.5em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;

    p {
        margin: 0;
    }
}

h3, h3 code{
    @include fs-5;
}